$background--light: white;
$text--light: black;
$text-alt--light: white;

//Dark theme
$background--dark: black;
$text--dark: black;
$text-alt--dark: white;



// navbars colors

$background_color_navs: #66b3ff;
$text-color:black;
$pages_background_color:#80dfff;
